# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Administrator\Desktop\JAVA_Homework\oop-lab10\oop-lab10实验材料\10-19373574-孙宏伟\oo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
